<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section 
      name="NumberValues" 
      type="System.Configuration.DictionarySectionHandler" />
  </configSections>

  <NumberValues>
    <!--<add key="2" value="xxx" />-->
     <add key="3" value="Fizz" />
     <add key="5" value="Buzz" />
   
  </NumberValues>
</configuration>